/* styles.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3e6d7; /* Light beige background */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header a {
  color: #fff; /* White text for anchor */
  text-decoration: none; /* Remove underline */
}

/* Header styles */
.header {
  background-color: #6d574e; /* Dark brown background */
  color: #fff; /* White text */
  padding: 20px; /* Add padding */
  display: flex;
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items vertically */
}

.header h1 {
  margin: 0; /* Remove default margin */
}

.header button {
  background-color: transparent; /* Transparent background */
  border: none; /* Remove border */
  color: #fff; /* White text */
  cursor: pointer;
  font-size: px;
}

/* Container styles */
.container {
  flex: 1; /* Grow container to fill remaining space */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.content {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

/* Search bar styles */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add bottom margin */
}

.search-input {
  width: 100%; /* Make input field fill entire width */
  padding: 15px; /* Increase padding */
  font-size: 18px; /* Increase font size */
  border: 2px solid #a38e7c; /* Light brown border */
  border-radius: 8px;
  margin-right: 10px; /* Add right margin */
}

.search-button {
  padding: 15px 30px; /* Increase padding */
  font-size: 18px; /* Increase font size */
  background-color: #9d756f; /* Dark brown button */
  color: #fff;
  border: 2px solid #9d756f; /* Dark brown border */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #8b5b53; /* Darker brown on hover */
}

/* Footer styles */
.footer {
  background-color: #6d574e; /* Dark brown background */
  color: #fff; /* White text */
  padding: 10px; /* Add padding */
  text-align: center; /* Center text */
  margin-bottom: 0; /* Push footer to the bottom */
}

/* styles.css */

/* Book item styles */
.book-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add margin between book items */
}

/* Book details styles */
.book-details {
  margin-left: 20px; /* Add spacing between cover image and details */
}

/* Cover image styles */
.book-item img {
  max-width: 150px; /* Set maximum width for cover image */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer; /* Change cursor to pointer when hovering over image */
}

/* Title styles */
.book-details p {
  margin: 0; /* Remove default margin for paragraphs */
}
